<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Woofiest Vue</title>
    <link rel="manifest" href="manifest.json">
    <link rel="manifest" href="site.webmanifest">
    
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js" defer></script>
    import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
    
<script>
const el = document.createElement('pwa-update');
document.body.appendChild(el);</script>
    
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>    
    <div id="app" class="app">
      <h1 class="title"> Doggo Cave <br> <span class="tagline"> the doggo favoriting app</span>
      </h1>
      
      <div class="container" v-if="online">
         <img alt="The bestest doggo of all doggos" v-bind:src="currentDogUrl" class="card" >
    
      <button v-on:click="loadDog" class="next">Next</button>
      </button>
    <button v-on:click="addFavourite" class="fav">
      Favourite</button>
      </div>
    
    <h2>
       Favorites
    </h2>
<ul class="favourites-list">
  <li v-for="dog in favourites" class="favourites-item">
   <img alt="a fav doggo" v-bind:src="dog" class="favourites-img">
    <button v-on:click="removeFav(dog)" class="remove">Remove</button>
    </button>
  </li>
    </ul>
    </button>
        </div>
  
    
  </body>
</html>
